USER_USERNAME="user_username"
USER_PASSWORD="user_password"
USER_ID=100

ADMIN_USERNAME="admin_username"
ADMIN_PASSWORD="admin_password"
ADMIN_ID=1

MODERATOR_USERNAME="moderator_username"
MODERATOR_PASSWORD="moderator_password"

TEST_USER_ID=300